/*global*/
html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: #EEE;
/*	background: -moz-linear-gradient(top, rgba(240,242,242,1) 0%, rgba(217,219,219,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(240,242,242,1)), color-stop(100%, rgba(217,219,219,1)));
	background: linear-gradient(top, rgba(240,242,242,1) 0%, rgba(217,219,219,1) 100%);*/
	background-attachment: fixed;
	overflow: hidden;
}

h2 {
	margin-left: 8px;
	color: lightgray;
}

/*scroll bar*/
::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-thumb {
	border-radius: 6px;
	background-color: rgba(160, 160, 160, 0.5);
}

/*general*/
.btn-right {
	float: right;
	margin: 30px 8px 0 0;
}

.slider-container {
	margin: 6px 0;
}

.label-p {
	margin-top: 3px;
	float: right;
}

/*webgl viewer*/
#viewer {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 0;
}

#haloprop {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 50%;
	height: 100%;
	z-index: 5;
	pointer-events: none;
}

#treeviewer {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 0;
}
